<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Welcome to my Auth0 App</title>
</head>

<body>
    <h1>Welcome to my Auth0 App</h1>
    <p>By clicking the link below, you will be redirected to create a user or login with Auth0.</p>
    <a href={{url}}>Click to login</a>
</body>

</html>